body {
    background-color: rgb(121, 121, 121);
}

.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#section {
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    align-items: center;
}